html,
body,
#root,
#graph,
.main-section,
.app-container {
  height: 100%;
  width: 100%;
}

.main-title {
  color: #48a684;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.buttons-right > button {
  float: right;
  margin: 5px;
}
.app-container {
  padding: 25px;
}

.bootstrap-wrapper {
  background-image: url("https://images.unsplash.com/photo-1548625361-1adcab316530?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
