.flower-memo {
  position: absolute;
  min-width: 300px !important;
  min-height: 180px !important;
  z-index: 9999;
}

.flower-memo-wrapper,
.flower-memo-header {
  width: 100%;
  position: relative;
  display: table;
  border-collapse: separate;
  flex-wrap: wrap;
  align-items: stretch;
}

.flower-memo-content {
  width: 100%;
  position: relative;
}

.flower-memo-remove {
  width: 15px;
  height: 15px;
  background: #ff0081;
  border-radius: 4px;
}

.flower-memo-action1 {
  width: 15px;
  height: 15px;
  background: lightgreen;
  border-radius: 4px;
}

// .flower-memo-title {
//   display: flex;
//   align-items: center;
//   margin-bottom: 0px;
//   font-size: 10px;
//   font-weight: 400;
//   line-height: 1.5;
//   color: rgb(255, 255, 255);
//   text-align: center;
//   white-space: nowrap;
//   background-color: rgba(19, 122, 99, 0.95);

//   padding: 0.375rem 0.75rem;
//   border-width: 1px;
//   border-style: solid;
//   border-color: rgb(206, 212, 218);
//   border-image: initial;
//   border-radius: 0.25rem;
// }

.flower-memo-text {
  display: none;
  width: 100%;
  min-width: 300px !important;
  height: 0px;
}
