@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

html,
body,
#root,
#graph,
.main-section,
.app-container {
  height: 100%;
  width: 100%;
}

.buttons-right > button {
  float: right;
  margin: 5px;
}

.app-container {
  padding: 15px;
}

.bootstrap-wrapper {
}

nav.navbar {
  padding: 1 1 1 1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 4px 0px;
}

.btn-outline-success {
  font-size: 11px;
}
