html,
body,
#root {
  height: 100%;
  max-height: 100%;
}

h1 {
  color: #48a684;
  font-weight: bold;
}

.buttons-right > button {
  float: right;
  margin: 5px;
}
.app-container {
  padding: 25px;
}

.container-fluid .row div {
  outline: solid 1px black;
}

button {
  background-color: #6b6bf4; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

rect {
  fill: cadetblue;
  opacity: 0.3;
  stroke: white;
}
text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  fill: white;
  font-size: 10px;
}
